$background-grey: #292c2f;
$orange: #FE563B;
$white: #ffffff;
$black: #000000;
$hover-blue: #1583cc;
$primary: #446cb3;
$secondary: #adb2bd;
$info: #89c4f4;
$alert: #f22613;
$success: #87d37c;
$warning: #f89406;
$grey: #dcdbd9;
$dark-grey: #333333;
