$background-grey: #292c2f;
$orange: #FE563B;
$white: #ffffff;
$black: #000000;
$hover-blue: #1583cc;
$primary: #446CB3;
$secondary: #ADB2BD;
$info: #89c4f4;
$alert: #F22613;
$success: #87D37C;
$warning: #F89406;
$grey: #DCDBD9;
