/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

@import "foundation_and_overrides";
@import "alerts";
@import "top_bar";

body {
  background: url("paper.png");
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

label {
  font-size: 1em;
}

.alert-text {
  padding-top: 12px;
}

.amazon-login {
  text-align: center;
}

.button {
  background-color: $background-grey;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  background-color: $background-grey;
  color: $orange;
  font-size: 1em;
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

.columns {
  padding-bottom: 10px;
  padding-top: 15px;
}

.delete-button {
  color: $background-grey;
}

.delete-button:hover {
  color: $orange;
}

.games {
  font-size: 1em;
  list-style: none;
  padding-top: 15px;
}

.game-info {
  font-size: 0.80em;
  padding-bottom: 15px;
}

.logo {
  background-color: $background-grey;
  padding-top: 15px;
  text-align: center;
}

.page-header {
  text-align: center;
}

.players {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
  width: 3em;
}

.thumbnail {
  border-radius: 50%;
  height: 158px;
  width: 158px;
}

.users-game {
  font-size: 1.5em;
  text-align: center;
}

.users-game:hover {
  background-color: $grey;
  border-radius: 5%;
  margin-top: -10px;
  padding-top: 10px;
}
